:root{
	--purple: #6f2cf2;
}

*{
	padding: 0;
	margin: 0;
}

body{
	
	background: #fdf6e3;
	background-size: 400% 400%;
	height: 100vh;
}



.customNav{
	background-color: #57886c;
	color: #fdf6e3;
}

.searchBtn{
	background-color: #57886c;
	color: blanchedalmond;
}

#rootContainer{
	display: flex;
	flex-direction: row;
	margin: 1vw;
	margin-top: 2vh;
	justify-content: center;
}

#bannerHeader{
	margin-bottom: 0;
	width: auto;
	display: grid;
	backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.customCard{
	backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.customCard h3{
	color: #28262c;
}

.customCard li{
	font-weight: bold;
	text-decoration: none;
}

#pagination-custom  > li{
	--bs-pagination-bg: #ffffff00 !important;
	--bs-pagination-active-bg:  #57886c;
}

#custom-toast{
	display: block;
    z-index: 1;
    position: absolute;
    margin-top: 7vh;
    margin-left: 6vw;
}
