:root{
	--purple: #6f2cf2;
}

*{
	padding: 0;
	margin: 0;
}

body{
	/* background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background: #fdf6e3;
	background-size: 400% 400%;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.customNav{
	background-color: #57886c;
	color: #fdf6e3;
}

.searchBtn{
	background-color: #57886c;
	color: blanchedalmond;
}

#rootContainer{
	display: flex;
	flex-direction: row;
	margin: 5vw;
}

#bannerHeader{
	margin-right: 5vw;
	margin-bottom: 0;
	width: auto;
	display: grid;
	backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.customCard{
	backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
}

.customCard h3{
	color: #28262c;
}

.customCard li{
	font-weight: bold;
}

